:root{
    --grid-size: 16
}
body{
    display: flex;
    flex-direction: column;
    background-color: #226666;
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px #226666;
}
.elements{
    background-color: #226666;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#container{
    display: grid;
    background-color: #FFF;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(var(--grid-size, 16), 1fr);
    grid-template-rows: repeat(var(--grid-size, 16), 1fr);
}
h1{
    background: #669999;
    border-radius: 5px;
    font-size: 3em;
    justify-self: center;
    align-self: center;
}
.blocks{
    background-color: #669999;
    outline: 1px solid black;
}
.button{
    display: flex;
    background-color: #669999;
    border-radius: 20px;
    height: 75px;
    width: 200px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
        font-size: 3em;
}
.button:hover{
    box-shadow: 2px 2px 5px 5px #000;
}
#colorSelector, #number-grids{
    height: 50px;
    width: 150px;
    margin: 50px;
    text-align: center;
    border: none;
    padding: 5px;
}
.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#random{
    display: flex;
    font-size: 150%;
    flex-direction: column;
}

#random:hover, #random:focus{
    transform: scale(1.1);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*+*{
    margin-top: 1.5em;
}

:root{
    --grid-size: 16;
    --color: #000;
    --eraser: #fff; 
    --outline: 1px solid black;
}

h1{
    text-align: center;
    font-size: 3em;
    color: #fff;
    font-weight: 400;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: #06aace;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-items: center;
}

#container{
    display: flex;
    flex-wrap: wrap;
    background-color: pink;
    height: 30em;
    width: 30em;
}

#container>div{
    margin: 0;
    height: calc(30em / var(--grid-size));
    width: calc(30em / var(--grid-size));
    outline: var(--outline);
}

.utilities{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30em;
}

.utilities>button{
    margin-top: 1.5em;
}

button, input{
    height: 3em;
    width: 10em;
    font-size: 1.25em;
    text-align: center;
}

button{
    color: white;
    border-radius: 1em;
    background-color: darkorange;
}

#grid-size{
    height: 1.25em;
    width: 4em;
    font-size: 3em;
}
